@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

.sidebarItem * {
  padding: 12px;
  margin: 0;
  font-family: "Gloock", cursive;
}

.sidebarItem {
  border: 1px solid #ccc;
  width: 95%;
  color: #fff;
  margin-top: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.errorLoggingIn {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #cc0040;
}

.errorLoggingIn svg {
  margin-right: 5px;
  filter: invert(14%) sepia(36%) saturate(7121%) hue-rotate(323deg)
    brightness(105%) contrast(137%);
}

.sidebarItem:hover {
  background-color: #fff;
  color: #0f5474;
  transition: 0.3s;
}

#root {
  display: flex;
}

.FindRoom {
  float: right;
  flex: 1;
  overflow: auto;
}
