@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sidebarItem * {
  padding: 12px;
  margin: 0;
  font-family: "Gloock", cursive;
}

.sidebarItem {
  border: 1px solid #ccc;
  width: 95%;
  color: #fff;
  margin-top: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.errorLoggingIn {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #cc0040;
}

.errorLoggingIn svg {
  margin-right: 5px;
  filter: invert(14%) sepia(36%) saturate(7121%) hue-rotate(323deg)
    brightness(105%) contrast(137%);
}

.sidebarItem:hover {
  background-color: #fff;
  color: #0f5474;
  transition: 0.3s;
}

#root {
  display: flex;
}

.FindRoom,
.ViewCampus {
  float: right;
  flex: 1;
  overflow: auto;
}

.login,
.register {
  width: 100%;
}

.FindRoom {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 100vh;
}

.roomList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 97%;
  padding: 10px;
  padding-left: 18px;
}

.hideMe {
  color: #0f5474;
  padding: 0;
  margin: 0;
  font-size: 1px;
}

.roomData {
  background-color: #0f5474;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  color: #fff;
  flex-grow: 1;
}

.RoomSearcher {
  background-color: #0f5474;
  color: #fff;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.RoomSearcher h1 {
  font-family: "Gloock", cursive;
  font-size: 50px;
  padding-left: 30px;
}

div.rating {
  float: left;
  display: block;
  width: 100%;
}

.roomData h4 {
  padding: 0;
  margin: 0;
}

.roomData img {
  width: 30px;
  margin-right: 10px;
  margin-top: 8px;
  filter: invert(100%);
}

.roomHeader {
  display: flex;
}

.roomData h3 {
  font-family: "Gloock", cursive;
  margin: 0;
  font-size: 1.5rem;
}

.roomData hr {
  width: 100%;
  margin: 6px 0;
}

.roomData p {
  margin: 0;
  padding: 0;
}
