@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

.leftSide {
  width: 50%;
  background-color: #0f5474;
  font-size: 20px;
  display: flex;
  padding-left: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  margin: 0;
  padding-left: 8px;
  color: #fff;
}

.centered > h1 {
  padding: 10px;
  margin: 0;
  padding-bottom: 0;
  font-size: 60px;
  color: #fff;
  font-family: "Gloock";
}

.centered label {
  display: none;
}

.centered input {
  padding: 10px;
  margin: 0;
  font-size: 24px;
  color: #fff;
  font-family: sans-serif;
  display: block;
  background-color: #0f5474;
  border: none;
  border-bottom: 1px solid #3377aa;
  transition: 0.3s;
  width: 80%;
  margin-bottom: 10px;
}

.centered input:focus {
  outline: none;
  border-bottom: 1px solid #fff;
  transition: 0.3s;
}

.centered input:hover {
  border-bottom: 1px solid #fff;
  transition: 0.3s;
}

.centered input::placeholder {
  color: #fff;
}

.centered button {
  padding: 10px;
  margin: 0;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  display: block;
  background-color: #0f5474;
  border: 0;
  border-bottom: 1px solid #fff;
  margin-top: 20px;
  transition: 0.3s;
}

.centered button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
}

@media (max-width: 1150px) {
  .leftSide {
    width: 100%;
  }
}
